<div class="index-main-container">
  <form class="artist-form-box" method="GET" action="/artist-search">
    <input class="input-artist" type="text" name="artist" placeholder="Artist here ..." required />
    <button class="/artist-search" type="submit">Search for an Artist</button>
  </form>
  <h2 class="main-title-all-presents"> All gåva! </h2>
</div>