<div class="index-main-container">
  <h1 class="main-title-index-search"> LISTEN YOUR FAVOURITE <span>ARTISTS</span></h1>
  <form class="artist-form-box" method="GET" action="/artist-search">
    <div class="input-button-container">
      <input class="input-artist" type="text" name="artist" placeholder="Artist's name" required />
      <button class="button-artist" type="submit">search</a></button>
    </div>
  </form>
</div>