<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/styles/reset.css' />
  <link rel='stylesheet' href='/styles/style.css' />
  <title>Spotify </title>
</head>
<body>
  <header class="header">
    <section class="header-logo-section">
      <img src="images/spotify_logo.png" alt="spotify logo">
    </section>
    <ul class="list-container-menu">
        <li><a href="/">Home</a></li>
        <li><a href="https://www.spotify.com/es/download/other/">Spotify</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
  </header>
  {{{body}}}
  <footer class="footer-container">
    <p>Made with a lot of pacience by Pau</p>
  </footer>
</body>
</html>